body,
html {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: black;
    color: white;
}


#title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    animation-name: colorchange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.footer {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
}

.footer a {
    color: #53ecff;
}

@keyframes colorchange {
    0% {
        color: rgb(31, 102, 255);
    }

    25% {
        color: rgb(31, 184, 255);
    }

    50% {
        color: rgb(31, 255, 132);
    }

    75% {
        color: rgb(31, 184, 255);
    }

    100% {
        color: rgb(31, 102, 255);
    }
